In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("weight-height.csv")
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
std=data.Height.std()
std

3.8475281207732293

In [8]:
mean=data.Height.mean()
mean

66.36755975482124

In [9]:
upper=mean+3*std
upper

77.91014411714093

In [11]:
lower=mean-3*std
lower

54.82497539250156

In [21]:
data[(data.Height>upper) | (data.Height<lower)]

      Gender     Height      Weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
9285  Female  54.263133   64.700127

In [24]:
outliers=data[(data.Height<upper) & (data.Height>lower)]
outliers.shape

(9993, 3)

In [27]:
data.shape[0]-outliers.shape[0]

7

In [ ]:
# z_score method

In [36]:
# zscore
data['zscore']=(data.Height-data.Height.mean())/data.Height.std()
data.head()

  Gender     Height      Weight    zscore
0   Male  73.847017  241.893563  1.943964
1   Male  68.781904  162.310473  0.627505
2   Male  74.110105  212.740856  2.012343
3   Male  71.730978  220.042470  1.393991
4   Male  69.881796  206.349801  0.913375

In [37]:
data[(data['zscore']>3)]

     Gender     Height      Weight    zscore
994    Male  78.095867  255.690835  3.048271
1317   Male  78.462053  227.342565  3.143445
2014   Male  78.998742  269.989699  3.282934
3285   Male  78.528210  253.889004  3.160640
3757   Male  78.621374  245.733783  3.184854

In [38]:
data[(data['zscore']<-3)]

      Gender     Height     Weight    zscore
6624  Female  54.616858  71.393749 -3.054091
9285  Female  54.263133  64.700127 -3.146027

In [49]:
data=data.drop('Weight',axis=1)
data

      Gender     Height    zscore
0       Male  73.847017  1.943964
1       Male  68.781904  0.627505
2       Male  74.110105  2.012343
3       Male  71.730978  1.393991
4       Male  69.881796  0.913375
...      ...        ...       ...
9995  Female  66.172652 -0.050658
9996  Female  67.067155  0.181830
9997  Female  63.867992 -0.649655
9998  Female  69.034243  0.693090
9999  Female  61.944246 -1.149651

[10000 rows x 3 columns]

In [51]:
#using IQR method 
data

      Gender     Height    zscore
0       Male  73.847017  1.943964
1       Male  68.781904  0.627505
2       Male  74.110105  2.012343
3       Male  71.730978  1.393991
4       Male  69.881796  0.913375
...      ...        ...       ...
9995  Female  66.172652 -0.050658
9996  Female  67.067155  0.181830
9997  Female  63.867992 -0.649655
9998  Female  69.034243  0.693090
9999  Female  61.944246 -1.149651

[10000 rows x 3 columns]

In [52]:
data.describe()

             Height        zscore
count  10000.000000  1.000000e+04
mean      66.367560  2.273737e-16
std        3.847528  1.000000e+00
min       54.263133 -3.146027e+00
25%       63.505620 -7.438384e-01
50%       66.318070 -1.286272e-02
75%       69.174262  7.294819e-01
max       78.998742  3.282934e+00

In [53]:
Q1=data.Height.quantile(0.25)
Q1

63.505620481218955

In [54]:
Q3=data.Height.quantile(0.75)
Q3

69.1742617268347

In [55]:
IQR=Q3-Q1

In [56]:
IQR

5.668641245615746

In [57]:
upper=Q3+1.5*IQR
upper

77.67722359525831

In [58]:
lower=Q1-1.5*IQR
lower

55.00265861279534

In [67]:
o=data[(data.Height<upper) & (data.Height>lower)]
o

      Gender     Height    zscore
0       Male  73.847017  1.943964
1       Male  68.781904  0.627505
2       Male  74.110105  2.012343
3       Male  71.730978  1.393991
4       Male  69.881796  0.913375
...      ...        ...       ...
9995  Female  66.172652 -0.050658
9996  Female  67.067155  0.181830
9997  Female  63.867992 -0.649655
9998  Female  69.034243  0.693090
9999  Female  61.944246 -1.149651

[9992 rows x 3 columns]

In [68]:
data.shape[0]-o.shape[0]

8