In [ ]:
import numpy as np
import pandas as pd
sd=pd.read_csv('iris.csv')
sd

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
sd['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [ ]:
from sklearn import preprocessing
preprocessing.LabelEncoder()
# label encoding converts categorical data into numerical data

LabelEncoder()

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
sd['variety']= label_encoder.fit_transform(sd['variety'])
sd['variety'].unique()
# unique is used to generate unique values

array([0, 1, 2])

In [ ]:
import pandas as pd
df = pd.read_csv('homeprices.csv') #reading csv file df
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [ ]:
dummies = pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [ ]:
merge = pd.concat([df, dummies], axis=1)
merge

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [ ]:
final = merge.drop(['town'], axis = 'columns')
final

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [ ]:
# This Python program focuses on preprocessing two datasets, 'iris.csv' and 'homeprices.csv,' using the pandas library.
# For the 'iris.csv' dataset, the code begins with data cleaning steps, including the removal of rows with missing values and
# potential additional measures like outlier detection. The integration and normalization phase involve checking variable types and
# applying Min-Max scaling to numeric features like sepal length, sepal width, petal length, and petal width. The resulting 'iris.csv' dataset
# is thus cleaned, integrated, and normalized for further analysis.
# Similarly, for the 'homeprices.csv' dataset, the program initiates with data cleaning by dropping rows with missing values and
# possibly addressing inconsistencies. The subsequent integration and normalization steps involve checking variable types and
# applying Min-Max scaling to numeric features such as area, bedrooms, bathrooms, and price. The final 'homeprices.csv' dataset is prepared
# for analysis with improved data quality and suitable variable types.
# These preprocessing operations ensure that both datasets are in a suitable state for subsequent analysis,
# facilitating accurate insights into the characteristics of the data.